header {
text-align: center;
}

body {
background-color: rgb(44, 44, 44);
text-align: center;
}

#question1, #question2, #question3, #question4 {
    visibility: hidden;
}

.choices button {
background-color: #a1730f; /* Green background */
border: 1px solid rgb(12, 14, 12); /* Green border */
color: white; /* White text */
padding: 10px 24px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */ /* Make the buttons appear below each other */
visibility: hidden;
text-align: center;
float: center;
}

button {
    background-color: #a1730f; /* Green background */
    border: 1px solid rgb(12, 14, 12); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */ /* Make the buttons appear below each other */
    text-align: center;
    float: center;

}

a {
    float: left;
    color: rgb(12, 14, 12);
}